/* Swiper styles */
.swiper-button-next,
.swiper-button-prev {
  color: #6366f1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #6366f1 !important;
}

/* Dark mode styles */
.dark .swiper-button-next,
.dark .swiper-button-prev {
  color: #fff !important;
}

.dark .swiper-pagination-bullet {
  background-color: #fff !important;
  opacity: 0.5;
}

.dark .swiper-pagination-bullet-active {
  opacity: 1;
}